<h1 xmlns="http://www.w3.org/1999/html">PB-Form</h1>
<img src="logo.jpeg">
<h3>PB-Core metadata editor (beta 1.3)</h2>

<h3>Existing Records</h3>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Options</th>
  </tr>
  <% @records.each do |record| %>
    <tr>
      <td><%= record.id %></td>
      <td><%= link_to record.main_title, record %> </td>
      <td>
        <%= link_to 'Edit', edit_record_path(record), class: "btn btn-xs btn-primary"  %>
        <%= link_to 'Show PBCore', record_path(record, format: :pbcore), class: "btn btn-xs btn-info" %>
        <%= link_to 'Show Dublin Core', record_path(record, format: :dc), class: "btn btn-xs btn-info" %>
      </td>
    </tr>
  <% end %>

  <tr>
    <td/><td><%= link_to 'Add a new Record', new_record_path, class: "btn btn-xs btn-success" %></td><td><%= link_to 'New', new_record_path, class: "btn btn-xs btn-success" %></td>
  </tr>
</table>
