<%= link_to '<< Home', '/' %><br/><br/>

<div class="row"><h2 class="col-md-2 text-right">New Record</div>

<%= form_for( @record, :html => { :class => "form-horizontal" } ) do |f| %>

  <% Record::terms_for_input.each do |field_name| %>
    <div class="form-group">
      <%= f.label field_name, class: "control-label col-md-2" %>
      <div class="col-md-4"><%= f.text_field field_name, class: "form-control" %></div>
    </div>
  <% end %>

  <div class="col-md-offset-2">
    <%= f.submit "Save New Record", class: "btn btn-primary"  %>   <%= link_to 'Cancel', root_path, class: "btn btn-info" %>
  </div>
<% end %>
<br/>