<%= link_to '<< Home', '/' %><br/>

<% Record::terms_for_input.each do |field_name| %>
  <p>
    <b><%= field_name.to_s %>:</b>
    <%= @record.send(field_name) %>
  </p>
<% end %>

<%= link_to 'Edit Metadata', edit_record_path(@record) %><br/>
<%= link_to 'Show as PBCore', params.merge(format: :pbcore) %><br/>
<br/>
<%= link_to '<< Home', '/' %>
